.classpath
.project
.settings/
threedViewer.ipr
threedViewer.iws
target/
difference.obj
box.brep
box.off
.idea/
test.brep
3dviewer.ipr
3dviewer.iws
*.iml
web-app/mrdoob-three.js-32b581f/
tmp
CodeNarcReport.html
cobertura.ser
stacktrace.log
web-app/currentVersion.txt
