body {
    background-color: grey;
    font-family: 'Helvetica Neue',Helvetica,Arial;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
}
#toolbox {
    cursor: pointer;
  background: #444444;
  float: right;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.7;
}
#toolbox #logo {
  float: left;
  width: 65%;
  height: 30px;
  color: #dddddd; font-size: 14px; padding-top: 3px;
}
#toolbox .righttools {
  float: right;
}
#toolbox .righttools div a{color:#fff;margin-left: 8px;margin-right: 15px;}
ul.export-list {
  float: left;
  margin: 3px 0;
  padding-left: 0;
}
ul.export-list li {
  list-style: none;
}
#toolbox .righttools ul.toolbox-list {
  background-color: #444;
  float: left;
  margin: 0;
}
#toolbox .righttools ul.toolbox-list li {
  float: left;
  list-style: none;
}
#toolbox .righttools ul.toolbox-list li a {
  display: block;
  width: 35px;
  height: 35px;
  background: url(../images/toolbox.png);
}
#toolbox .righttools ul.toolbox-list li a.cube {
  background-position: -35px 0;
}
#toolbox .righttools ul.toolbox-list li a.cylinder {
  background-position: -70px 0;
}
#toolbox .righttools ul.toolbox-list li a.cone {
  background-position: -105px 0;
}
#toolbox .righttools ul.toolbox-list li a.plane {
  background-position: -140px 0;
}
#toolbox .righttools ul.toolbox-list li a.torus {
  background-position: -175px 0;
}
#toolbox .righttools ul.light-list {
  float: left;
  margin: 0;
  padding: 0 15px 0 0;
}
#toolbox .righttools ul.light-list li {
  float: left;
  list-style: none;
}
/*#toolbox .righttools ul.light-list li a {*/
  /*display: block;*/
  /*width: 35px;*/
  /*height: 35px;*/
  /*background: url(../images/lights.png);*/
/*}*/
#toolbox .righttools ul.light-list li a.spot {
  background-position: -35px 0;
}
#toolbox .righttools ul.light-list li a.ambient {
  background-position: -70px 0;
}
#toolbox .righttools ul.light-list li a.directional {
  background-position: -105px 0;
}
#projectTree{z-index:5;position: absolute; top:0; left:0 ;cursor: pointer;opacity: 0.7}
a {
    outline: medium none;
    text-decoration: none;
}
#content {
    margin: 0;
    padding: 0;
    position: fixed; left: 0; top: 0;
    z-index: 0;
}
.required-indicator {
    color: #bd2222;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}
.fieldcontain{border-bottom: 1px solid #2C2C2C;margin-top: 12px;padding-bottom: 12px}
.buttons{margin-top: 5px}
.fieldcontain input{float: right;}
input.small{width: 82px;}
.last{color: #DDD;margin-left: 10px;float: right!important;}
.last a{color: #ddd !important;font-size: 23px}
.hidden{display: none;}
#selectProject{width: 95%}
#project{background-color: #414042}
.jstree a:hover{color: #000;}
.jstree-clicked{color: #000!important;}

.block.small.left {
    clear: none;
    float: left;
}
.block.small {
    background: url("../images/bnd.gif") repeat-x scroll center bottom #FFFFFF;
    padding-bottom: 0;
}
.block .block_head {
    padding-top: 5px;
    padding-left: 5px;
    background-color: #414042;
    height: 25px;
    overflow: hidden;
}
#info{background-color: #444444;
    border: 2px solid #F7941E;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-family: Arial;
    left: 1px;
    opacity: 0.7;
    padding: 0 5px 5px 5px;
    bottom: 0;
    z-index:5;position: absolute; cursor: pointer;opacity: 0.7}
#frameArea{font-size: 18px;}
fieldset{border: none}

.message {
    padding: 0 15px 0 30px;
    margin: 10px 0;
    font-weight: bold;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.message p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    width: auto;
    float: left;
}

.message.info {
    border: 1px solid #bbdbe0;
    background: #ecf9ff url(../images/info.gif) 12px 12px no-repeat;
    color: #0888c3;
}
.message.errormsg {
    border: 1px solid #e9c59b;
    background: #ffecce url(../images/error.gif) 12px 12px no-repeat;
    color: #e3302c;
}

.message.success {
    border: 1px solid #bfde84;
    background: #edfbd8 url(../images/success.gif) 12px 12px no-repeat;
    color: #508600;
}
#spinner{width: auto; bottom: 0; margin-left: 35%; padding-left: 33px;position: fixed; margin-bottom: 0pt;padding-right: 7px}
#colorSelector {
    background: url("../images/select2.png") repeat scroll 0 0 transparent;
    height: 36px;
    margin-left: 84px;
    position: absolute;
    width: 36px;
}
.colorpicker{z-index: 10000}
#colorSelector div {
    height: 30px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 30px;
}
.close-img{padding-top: 5px;}
#closeFlash{margin-left: 6px;}
.polarisationType{text-align: right; padding-top: 10px; margin-bottom: 10px;}
.polarisationType select,.processingType{width: 180px;float: right;}
.angle{float: left; width: 50%;padding-top: 3px;}
#versionNumber{bottom: 0px; position: absolute; right: 0pt;padding-right: 5px;padding-bottom: 5px}
.visible {border: 1px solid red}

#scaleForm{margin-left: 6px;}

#scaleForm #changeScaleButton{width: 52%;height: 24px;margin-right: -14px;size:10px;padding-bottom: 10px;padding-top:0px}

